
#practiceMesseage {
  width: 400px
  color: gray;
  font-weight: bolder;
  text-align: center;
}


body {
  background: green;
}

#btn {
  width: 800px;
  height: 800px;
  background: white;
  border-radius: 50%;
  margin: 30px auto 0;
  text-align: center;
  line-height: 200px;
  color: red;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10px 0 gray;
  user-select: none;
}

#btn:hover {
  opacity:0.9;

}

#btn.pressed {
  box-shadow: 0 5px 0 white;
  margin-top : 35px;
}

footer p {
  width: 400px
  color: white;
  font-weight: bolder;
  text-align: center;
}
